*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    overflow-y: hidden;
}
nav{
    background: rgb(14, 7, 49);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}
nav h1{
    font-weight: normal;
}
nav a{
    color: rgb(221, 215, 215);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
section{
    background: rgb(180, 180, 180);
    padding: 0px 40px;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 5% 75% 20%;
}
section .home{
    color: gray;
    font-size: 15px;
}
section .home a{
    color: gray;
    font-size: 15px;
    text-decoration: none;
}
section .home a:nth-child(3){
    color: rgb(45, 30, 255);
    font-weight: bold;
}
section .main{
    background: white;
    padding: 10px 90px;
    border-radius: 5px;
    overflow-y: auto;
    /* margin-bottom: 10px; */
}
section .main h4{
    font-weight: 600;
    margin-bottom: 10px;
}

section .main .one{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
section .main .one label{
    font-size: 15px;
    color: gray;
}
section .main .one label span{
    color: red;
}
section .main .one img{
    width: 120px;
    height: 120px;
}
section .main .one input{
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 8px;
}
.together{
    display: flex;
    gap: 10px;
    align-items: center;
}
.stop{
    color: red;
    font-size: 12px;
    text-align: center;
}
h3{
    font-size: 15px;
}
section .main form .error{
    background: rgb(100, 71, 27);
    color: red;
    text-align: center;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
}
section .main form .choices,
section .main form .new{
    border: 1px solid gray;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: small;
    cursor: pointer;
    color: gray;
    margin-bottom: 10px;
}
section .main form hr{
    margin-bottom: 10px;
}
section footer{
    text-align: center;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
.subb{
    background: dodgerblue;
    border: none;
    outline: none;
    padding: 8px 20px;
    width: 100px;
    color: white;
    /* margin-top: 10px; */
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    display: block;
}
.inputt{
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 8px;
}
.labell{
    font-size: 15px;
    color: gray;
}

@media screen and (max-width:500px) {
    nav h1{
        font-size: 20px;
    }
    section{
        padding: 0px 10px;
    }
    section .main{
        background: white;
        padding: 10px;
        border-radius: 5px;
        overflow-y: auto;
        /* margin-bottom: 10px; */
    }
    section .main .one img{
        width: 100px;
        height: 100px;
    }
    .subb{
        margin-top: 40px;
    }
}
