*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    overflow-y: hidden;
}
nav{
    background: rgb(14, 7, 49);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}
nav h1{
    font-weight: normal;
}
nav a{
    background: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
section{
    background: rgb(180, 180, 180);
    padding: 0px 40px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5% 70% 20%;
}
section .home{
    color: gray;
    font-size: 15px;
}
section .main{
    background: white;
    padding: 10px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}
section .main h4{
    font-weight: 600;
    margin-bottom: 10px;
}
section .main .body{
    color: gray;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}
section footer{
    text-align: center;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
@media screen and (max-width:500px) {
    nav h1{
        font-size: 20px;
    }
    section{
        padding: 0px 10px;
    }
}
